body {
  background-color: #f5f2e7;
}

hr {
  border-style: dotted none none;
  border-width: 10px;
  border-color: #2c3333;
  width: 15%;
  height: 0;
}

h1 {
  color: #395b64;
}

h3 {
  color: #395b64;
}

p {
  color: #2666cf;
}
